@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration
@using MudBlazor.Extensions.Core
@using MudBlazor.Extensions.Options
@inject NavigationManager Navigation
@inject IConfiguration Configuration
@inject ISessionStorageService sessionStorage
@inject IDialogService DialogService
<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <Index />
    </LoggingIn>    
   <CompletingLoggingIn>
        <Index />
   </CompletingLoggingIn>
    <LogOut>
        @{
            var authority = (string)Configuration["Auth0:Authority"];
            var clientId = (string)Configuration["Auth0:ClientId"];

            Navigation.NavigateTo($"{authority}/v2/logout?client_id={clientId}");
        }
    </LogOut>
    <LogOutSucceeded>
        @{
            sessionStorage.RemoveItemAsync("_sid");
        }
        <Home />
    </LogOutSucceeded>
    <LogInFailed>
        <span>Login failed. Reason: @context</span>
    </LogInFailed>
</RemoteAuthenticatorView>

@code {
    [Parameter] public string Action { get; set; }
   
}